# OpenDartReader - Users Guide

<img width="40%" src="https://i.imgur.com/FMsL0id.png" >

`OpenDartReader`는 금융감독원 전자공시 시스템의 "Open DART"서비스 API를 손쉽게 사용할 수 있도록 돕는 오픈소스 라이브러리 입니다.

#### 2020 [FinanceData.KR](http://financedata.kr) | [facebook.com/financedata](http://facebook.com/financedata)

##  OpenDartReader
`Open DART`는 금융감독원이 제공하는 전자공시 시스템에서 제공하는 API서비스 입니다. 기존의 "오픈API", "공시정보 활용마당" 서비스 확대개편하였으며 2020-01-21 (시범) 서비스 시작하였습니다.

`Open DART` API는 매우 잘 만들어진 서비스입니다. 하지만, API를 직접사용하면 추가적인 작업들이 필요합니다. 예를 들어, `Open DART` API는 기업에 대한 내용을 조회할 때, 전자공시에서 사용하는 개별 기업의 고유 번호를 사용합니다. 특정 회사를 상장회사 종목코드으로 조회하려면 매번 고유번호를 얻어야 합니다. 수신한 데이터는 JSON혹은 XML형태 인데 대부분의 경우 pandas 데이터프레임(DataFrame)으로 가공해야 사용하기 더 편리합니다.

`OpenDartReader`는 `Open DART`를 이런 내용을 일반화하고 좀 더 쉽게 `Open DART`를 사용하기 위한 파이썬 라이브러리 입니다.

## Installation

다음과 같이 설치 합니다.

```bash
pip install opendartreader
```

이미 설치되어 있고 업그레이드가 필요하다면 다음과 같이 설치합니다.
```bash
pip install --upgrade opendartreader 
```

## Quick Start

```python
import OpenDartReader

# API KEY 를 지정하여 OpenDartReader 객체 생성
api_key = 'd81e18ac719d1c1e4ec7899ef21a737ab6cbb4c7'
dart = OpenDartReader(api_key)

# 삼성전자의 정기보고서('A') 2019년
dart.list(code='005930', kind='A', start='2019-01-01', end='2019-12-31')

# 삼성전자의 모든 공시 리스트 (1999년 ~ 현재)
dart.list('005930') 

# 기업의 개황정보
dart.company('005930')

# 회사명에 삼성전자가 포함된 회사들에 대한 개황정보
dart.company_by_name('삼성전자')

# 삼성전자 사업보고서 (2018.12) 원문 텍스트
xml_text = dart.document('20190401004781')

# 삼성전자(005930), 배당관련 사항, 2018년
dart.report('005930', '배당', 2018) 

# 서울반도체(046890), 최대주주 관한 사항, 2018년
dart.report('046890', '최대주주', 2018) 

# 서울반도체(046890), 임원 관한 사항, 2018년
dart.report('046890', '임원', 2018) 

# 삼성전자 2018 재무제표
dart.finstate('삼성전자', 2018) # 사업보고서

# 삼성전자 2018Q1 재무제표
dart.finstate('삼성전자', 2018, reprt_code='11013')
```

## 0. OpenDartReader 객체 dart를 생성

가장 먼저 해야할 일은 발급 받은 API키를 사용하여 `OpenDartReader` 객체를 생성하는 것입니다. 

API키는 전자공시 [인증키 신청 페이지](https://opendart.fss.or.kr/uss/umt/EgovMberInsertView.do)에서 회원가입하고 신청하면 바로 발급 받을 수 있습니다. API키는 40자의 영문과 숫자로 구성되어 있습니다.

In [5]:
import OpenDartReader

api_key = 'd81e18ac719d1c1e4ec7899ef21a737ab6cbb4c7'
dart = OpenDartReader(api_key)

## 1. 공시정보 검색

### list() - 공시검색 
지정한 회사의 보고서를 검색합니다. 기간과 보고서의 종류를 지정할 수 있습니다.

```python
dart.list(corp, start=None, end=None, kind='', kind_detail='', final=True)
```

In [6]:
# 삼성전자(005930)의 정기보고서('A') 목록 2019년

dart.list('005930', kind='A', start='2019-01-01', end='2019-12-31')

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,분기보고서 (2019.09),20191114001273,삼성전자,20191114,
1,00126380,삼성전자,005930,Y,반기보고서 (2019.06),20190814002218,삼성전자,20190814,
2,00126380,삼성전자,005930,Y,분기보고서 (2019.03),20190515001605,삼성전자,20190515,
3,00126380,삼성전자,005930,Y,사업보고서 (2018.12),20190401004781,삼성전자,20190401,연

In [7]:
# 삼성전자(005930)의 모든 공시 리스트 (1999년 ~ 현재)

dart.list('005930')

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,주식등의대량보유상황보고서(약식),20200207000636,국민연금공단,20200207,
1,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20200205000546,안규리,20200205,
2,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20200204000348,서장석,20200204,
3,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20200204000152,정문학,20200204,
4,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20200131000057,김희승,20200131,
...,...,...,...,...,...,...,...,...,...
46,00126380,삼성전자,005930,Y,최대주주등을위한금전의대여,20000401000031,삼성전자,20000401,
47,00126380,삼성전자,005930,Y,[첨부추가]사업보고서 (1999.12),20000330000796,삼성전자,20000330,연
48,00126380,삼성전자,005930,Y,감사보고서 (1999.12),20000320000124,삼일회계법인,20000320,
49,00126380,삼성전자,005930,Y,[기재정정]반기보고서 (1999.06),19990824000003,삼성전자,19990824,
50,00126380,삼성전자,005930,Y,[기재정정]사업보고서 (1998.12),19990626000007,삼성전자,19990626,연

### company(), company_by_name() - 기업개황

```python
# 기업의 개황정보를 읽어옵니다
dart.company(corp) 

# 기업을 검색하여 이름이 포함된 모든 기업들의 기업개황 정보를 반환합니다.
dart.company_by_name(name)
```

In [8]:
dart.company('005930') # 삼성전자, 005930, 00126380

{'status': '000',
 'message': '정상',
 'corp_code': '00126380',
 'corp_name': '삼성전자(주)',
 'corp_name_eng': 'SAMSUNG ELECTRONICS CO,.LTD',
 'stock_name': '삼성전자',
 'stock_code': '005930',
 'ceo_nm': '김기남, 김현석, 고동진',
 'corp_cls': 'Y',
 'jurir_no': '1301110006246',
 'bizr_no': '1248100998',
 'adres': '경기도 수원시 영통구  삼성로 129 (매탄동)',
 'hm_url': 'www.sec.co.kr',
 'ir_url': '',
 'phn_no': '031-200-1114',
 'fax_no': '031-200-7538',
 'induty_code': '264',
 'est_dt': '19690113',
 'acc_mt': '12'}

find_company_by_name()는 기업을 검색하여 이름이 포함된 모든 기업들의 기업개황 정보를 반환합니다.

개별 회사의 corp_code(고유번호), stock_code (종목코드)를 얻는데도 유용하게 사용할 수 있습니다.

In [9]:
# 회사명에 삼성전자가 포함된 회사들에 대한 개황정보
data = dart.company_by_name('삼성전자')
data

[{'status': '000',
  'message': '정상',
  'corp_code': '01345812',
  'corp_name': '삼성전자서비스씨에스 주식회사',
  'corp_name_eng': 'SAMSUNG ELECTRONICS SERVICE CUSTOMER SATISFACTION., LTD.',
  'stock_name': '삼성전자서비스씨에스',
  'stock_code': '',
  'ceo_nm': '정석진',
  'corp_cls': 'E',
  'jurir_no': '1358110352541',
  'bizr_no': '7898701103',
  'adres': '경기도 수원시 영통구 중부대로 324 (매탄동, KT동수원지사)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '031-210-8783',
  'fax_no': '031-8006-1009',
  'induty_code': '75991',
  'est_dt': '20181105',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00252074',
  'corp_name': '삼성전자판매 주식회사',
  'corp_name_eng': 'SAMSUNG ELECTRONICS SALES Co., Ltd.',
  'stock_name': '삼성전자판매',
  'stock_code': '',
  'ceo_nm': '이평우',
  'corp_cls': 'E',
  'jurir_no': '1801110210300',
  'bizr_no': '6178117517',
  'adres': '경기도 성남시 분당구 황새울로 340',
  'hm_url': 'www.samsungsales.co.kr',
  'ir_url': '',
  'phn_no': '02-3460-6656',
  'fax_no': '02-3460-6802',
  'induty_code': '47320',
  'est_dt': '19960711',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00366997',
  'corp_name': '삼성전자로지텍(주)',
  'corp_name_eng': 'SELC.CO.,LTD',
  'stock_name': '삼성전자로지텍',
  'stock_code': '',
  'ceo_nm': '강도원',
  'corp_cls': 'E',
  'jurir_no': '1301110046797',
  'bizr_no': '1248155381',
  'adres': '경기도 수원시 영통구 삼성로 129',
  'hm_url': 'www.selc.co.kr',
  'ir_url': '',
  'phn_no': '031-270-3482',
  'fax_no': '031-270-3673',
  'induty_code': '52999',
  'est_dt': '19980401',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00126380',
  'corp_name': '삼성전자(주)',
  'corp_name_eng': 'SAMSUNG ELECTRONICS CO,.LTD',
  'stock_name': '삼성전자',
  'stock_code': '005930',
  'ceo_nm': '김기남, 김현석, 고동진',
  'corp_cls': 'Y',
  'jurir_no': '1301110006246',
  'bizr_no': '1248100998',
  'adres': '경기도 수원시 영통구  삼성로 129 (매탄동)',
  'hm_url': 'www.sec.co.kr',
  'ir_url': '',
  'phn_no': '031-200-1114',
  'fax_no': '031-200-7538',
  'induty_code': '264',
  'est_dt': '19690113',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00258999',
  'corp_name': '삼성전자 서비스주식회사',
  'corp_name_eng': 'SAMSUNNG ELECTRONICS SERVICE CO., LTD',
  'stock_name': '삼성전자서비스',
  'stock_code': '',
  'ceo_nm': '심원환',
  'corp_cls': 'E',
  'jurir_no': '1301110049139',
  'bizr_no': '1248158485',
  'adres': '경기도 수원시 영통구 삼성로 290 (원천동)',
  'hm_url': 'www.samsungsvc.co.kr',
  'ir_url': '',
  'phn_no': '031-270-2177',
  'fax_no': '031-270-2106',
  'induty_code': '95',
  'est_dt': '19981027',
  'acc_mt': '12'}]

가져온 기업개황 정보(dict list)를 데이터 프레임으로 가공하고, 필요한 컬럼을 지정하여 정리할 수 있습니다.

In [10]:
import pandas as pd

pd.DataFrame(data)[['stock_name' , 'stock_code' , 'ceo_nm' , 'corp_cls' , 'jurir_no' , 'bizr_no' , 'adres' ]]

,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres
0,삼성전자서비스씨에스,,정석진,E,1358110352541,7898701103,"경기도 수원시 영통구 중부대로 324 (매탄동, KT동수원지사)"
1,삼성전자판매,,이평우,E,1801110210300,6178117517,경기도 성남시 분당구 황새울로 340
2,삼성전자로지텍,,강도원,E,1301110046797,1248155381,경기도 수원시 영통구 삼성로 129
3,삼성전자,005930,"김기남, 김현석, 고동진",Y,1301110006246,1248100998,경기도 수원시 영통구 삼성로 129 (매탄동)
4,삼성전자서비스,,심원환,E,1301110049139,1248158485,경기도 수원시 영통구 삼성로 290 (원천동)

### document() - 공시서류 원문

In [11]:
# 삼성전자 사업보고서 (2018.12)
# http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20190401004781 
     
xml_text = dart.document('20190401004781') # 사업보고서 (2018.12)
xml_text[:2000]

'<?xml version="1.0" encoding="utf-8"?>\r\n\r\n\r\n<DOCUMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="dart3.xsd">\n\n<DOCUMENT-HEADER AEXT-CLASS="Y">\n<DOCUMENT-NAME ACODE="11011">사업보고서</DOCUMENT-NAME>\n<FORMULA-VERSION ADATE="20190115">3.6</FORMULA-VERSION>\n<COMPANY-NAME AREGCIK="00126380">삼성전자</COMPANY-NAME>\n\n<SUMMARY>\n<EXTRACTION ACODE="LINK_FLAG" AFEATURE="BOTH">C</EXTRACTION>\n<EXTRACTION ACODE="FIN_TYPE" AFEATURE="BOTH">A</EXTRACTION>\n<EXTRACTION ACODE="CRP_RGS_NO_TEMP" AFEATURE="BOTH">130111-0006246</EXTRACTION>\n</SUMMARY>\n</DOCUMENT-HEADER>\n\n<BODY>\n\n<INSERTION ABASISNUMBER="SE1" AFREQUENCY="0" ADUPLICATION="N">\n<COMMENT>◆click◆ 정정문서 작성시 『정오표』 삽입</COMMENT>\n<LIBRARYLIST>정정신고(보고)-대표이사등의확인.LCommon</LIBRARYLIST>\n</INSERTION>\n\n<COVER>\n<P></P>\n<COVER-TITLE ATOC="Y" AASSOCNOTE="COVER">사 업 보 고 서</COVER-TITLE>\n<P>&cr;&cr;&cr;</P>\n<P USERMARK="F-16">                                    (제 50 기)</P>\n\n<TABLE-GROUP ACLASS="COVER" ADELETETABLE="N">\n\n<TABLE ACLASS="EXTRACTION" AFIXTABLE="Y" WIDTH="600" BORDER="0">\n\n<COLGROUP>\n<COL WIDTH="209"></COL>\n<COL WIDTH="153"></COL>\n<COL WIDTH="211"></COL>\n</COLGROUP>\n\n<TBODY>\n\n<TR ACOPY="N" ADELETE="N">\n<TD CLASS="NORMAL" ROWSPAN="2" ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="218" HEIGHT="60" AUPDATECONT="N">사업연도</TD>\n<TU CLASS="NORMAL" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="162" HEIGHT="30" AUNIT="PERIODFROM" AUNITVALUE="20180101">2018년 01월 01일</TU>\n<TD CLASS="NORMAL" VALIGN="MIDDLE" WIDTH="220" HEIGHT="30" AUPDATECONT="N"> 부터</TD>\n</TR>\n\n<TR ACOPY="N" ADELETE="N">\n<TU CLASS="NORMAL" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="162" HEIGHT="30" AUNIT="PERIODTO" AUNITVALUE="20181231">2018년 12월 31일</TU>\n<TD CLASS="NORMAL" VALIGN="MIDDLE" WIDTH="220" HEIGHT="30" AUPDATECONT="N"> 까지</TD>\n</TR>\n</TBODY>\n</TABLE>\n</TABLE-GROUP>\n<P></P>\n\n<TABLE AFIXTABLE="N" BORDER="0" WIDTH="600" ACLASS="NORMAL">\n\n<COLGROUP>\n<COL WIDTH="191"></COL>\n<COL WIDTH="391"></COL>\n</COLGROUP>\n\n<TBODY>\n\n<TR ACOPY="Y" ADELETE="Y">\n<TD WIDTH="200" H'

### find_corp_code() - 고유번호 얻기
종목코드 혹은 기업명으로 고유번호를 가져옵니다.
전자공시에서 개별 기업은 고유번호로 식별 됩니다. 특히, 상장종목이 아닌 경우는 고유번호를 사용해야 합니다.

In [12]:
dart.find_corp_code('005930')

'00126380'

In [13]:
dart.find_corp_code('삼성전자')

'00126380'

### corp_codes - 고유번호(속성)
고유번호, 종목명, 종목코드 등의 정보를 포함하고 있는 속성값 입니다.  7만 6천여개 기업에 대한 고유번호, 종목명, 종목코드 등의 정보를 포함하고 있습니다.

In [14]:
dart.corp_codes

      corp_code          corp_name stock_code modify_date
0      00434003                 다코               20170630
1      00434456               일산약품               20170630
2      00430964              굿앤엘에스               20170630
3      00432403               한라판지               20170630
4      00388953  크레디피아제이십오차유동화전문회사               20170630
...         ...                ...        ...         ...
76656  01011827               나노기술               20200129
76657  00894621               비에스티               20200129
76658  00481852               동해산업               20200129
76659  00918949               동화테크               20200129
76660  00132008                 선우               20200129

[76661 rows x 4 columns]

## 2. 사업보고서

### report() - 사업보고서 주요정보
사업보고서의 주요 내용을 조회 합니다.

```python
dart.report(corp, key_word, bsns_year, reprt_code='11011')
```

`key_word`에 '증자','배당','자기주식','최대주주','최대주주변동','소액주주','임원','직원','임원개인보수','임원전체보수','개인별보수','타법인출자' 중의 하나를 지정할 수 있습니다.

bsns_year 에 사업 년도를 지정합니다 (문자열 혹은 정수값)

함수에 대한 더 상세한 내용은 [OpenDartReader - Reference Manual]을 참고하십시오.

In [15]:
# 삼성전자(005930), 배당관련 사항, 2018년
dart.report('005930', '배당', 2018)

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20190401004781,Y,00126380,삼성전자,주당액면가액(원),100,"5,000","5,000",NaN
1,20190401004781,Y,00126380,삼성전자,(연결)당기순이익(백만원),"43,890,877","41,344,569","22,415,655",NaN
2,20190401004781,Y,00126380,삼성전자,(별도)당기순이익(백만원),"32,815,127","28,800,837","11,579,749",NaN
3,20190401004781,Y,00126380,삼성전자,(연결)주당순이익(원),"6,461","299,868","157,967",NaN
4,20190401004781,Y,00126380,삼성전자,현금배당금총액(백만원),"9,619,243","5,826,302","3,991,892",NaN
5,20190401004781,Y,00126380,삼성전자,주식배당금총액(백만원),-,-,-,NaN
6,20190401004781,Y,00126380,삼성전자,(연결)현금배당성향(%),21.90,14.10,17.80,NaN
7,20190401004781,Y,00126380,삼성전자,현금배당수익률(%),3.70,1.70,1.60,보통주
8,20190401004781,Y,00126380,삼성전자,현금배당수익률(%),4.50,2.10,2.00,우선주
9,20190401004781,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,보통주
10,20190401004781,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,우선주
11,20190401004781,Y,00126380,삼성전자,주당 현금배당금(원),"1,416","42,500","28,500",보통주
12,20190401004781,Y,00126380,삼성전자,주당 현금배당금(원),"1,417","42,550","28,550",우선주
13,20190401004781,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,보통주
14,20190401004781,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,우선주

In [16]:
# 서울반도체(046890), 최대주주 관한 사항, 2018년

dart.report('046890', '최대주주', 2018)

,rcept_no,corp_cls,corp_code,corp_name,stock_knd,rm,nm,relate,bsis_posesn_stock_co,bsis_posesn_stock_qota_rt,trmend_posesn_stock_co,trmend_posesn_stock_qota_rt
0,20190401003450,K,00130763,서울반도체,보통주,-,이정훈,본인,"9,749,744",16.72,"9,749,744",16.72
1,20190401003450,K,00130763,서울반도체,보통주,-,이민호,특수관계인,"5,076,358",8.71,"5,076,358",8.71
2,20190401003450,K,00130763,서울반도체,보통주,-,이민규,특수관계인,"5,076,358",8.71,"5,076,358",8.71
3,20190401003450,K,00130763,서울반도체,보통주,-,계,NaN,"19,902,460",34.13,"19,902,460",34.13
4,20190401003450,K,00130763,서울반도체,-,-,계,NaN,-,-,-,-

In [17]:
# 서울반도체(046890), 임원 관한 사항, 2018년

dart.report('046890', '임원', 2018)

,rcept_no,corp_cls,corp_code,corp_name,nm,sexdstn,birth_ym,ofcps,rgist_exctv_at,fte_at,chrg_job,main_career,mxmm_shrholdr_relate,hffc_pd,tenure_end_on
0,20190401003450,K,00130763,서울반도체,이정훈,남,1953년 01월,대표이사\n 사장,등기임원,상근,경영총괄,- 삼신전기(주) 부사장\n- 서울반도체(주) 대표이사(現),본인,1992년~,2019년 03월 28일
1,20190401003450,K,00130763,서울반도체,박형건,남,1960년 04월,사외이사,등기임원,비상근,사외이사/\n 감사위원,- 연세대경영학학사/서울대경영학석사수료\n- 국세청 정보공개심의위원회 위원\n- 우...,-,2016년~,2020년 03월 27일
2,20190401003450,K,00130763,서울반도체,장정식,남,1955년 07월,사외이사,등기임원,비상근,사외이사/\n 감사위원,- 서울대 공업화학과 학사/석사\n- Case Western Reserve 대학 공...,-,2018년~,2020년 03월 27일
3,20190401003450,K,00130763,서울반도체,오명민,남,1977년 01월,사외이사,등기임원,비상근,사외이사/\n 감사위원,- 서울대 원예학과 학사/석사\n- Kansas 주립대학 원예학과 박사\n- 충북대...,-,2018년~,2020년 03월 27일

In [18]:
# 서울반도체(046890), 직원 관한 사항, 2018년

dart.report('046890', '직원', 2018)

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20190401003450,K,00130763,서울반도체,-,남,관리사무직,-,-,-,471,-,35,-,506,6.3,"42,571,000,000","84,000,000"
1,20190401003450,K,00130763,서울반도체,-,여,관리사무직,-,-,-,124,-,11,-,135,5.6,"6,952,000,000","52,000,000"
2,20190401003450,K,00130763,서울반도체,-,남,생산직,-,-,-,247,-,34,-,281,3.6,"13,254,000,000","47,000,000"
3,20190401003450,K,00130763,서울반도체,-,여,생산직,-,-,-,118,-,12,-,130,6.3,"6,092,000,000","47,000,000"

## 3. 상장기업 재무정보

In [19]:
# 삼성전자 2018 재무제표

dart.finstate('삼성전자', 2018) # 사업보고서

NameError: name 'dart_finstate' is not defined

In [ ]:
# 삼성전자 2018Q1 재무제표

dart.finstate('삼성전자', 2018, reprt_code='11013') # 2018년 1분기 보고서 재무제표

## 4. 지분공시
* major_shareholders() - 대량보유 상황보고
* major_shareholders_exec() - 임원ㆍ주요주주 소유보고

In [ ]:
dart.major_shareholders('삼성전자') # 종목코드, 종목명, 고유번호 모두 가능

In [ ]:
dart.major_shareholders_exec('삼성전자') # 종목코드, 종목명, 고유번호 모두 가능

#### 2020 [FinanceData.KR](http://financedata.kr) | [facebook.com/financedata](http://facebook.com/financedata)